<div class=" px-25">
    <!-- margen lateral -->
    <div class="row gx-3 my-3">
        <!-- separación entre columnas -->
        <!-- Filosofía -->
        <div class="col-md-6">
            <div class="bg-cover h-150" style="background-size: cover; background-position: center; height: 60vh;">
                <div class="overlay d-flex flex-column justify-content-center align-items-center text-white text-center h-100 w-100" style="background-color: rgba(0, 0, 0, 0.4);">
                    <h1 class="fw-bold">QUIENES SOMOS</h1>
                    <p> somos un grupo de amantes de la cocina con una misión clara: inspirar a más personas a disfrutar de la comida hecha en casa. Nuestro equipo crea, prueba y comparte recetas fáciles, económicas y deliciosas pensadas para el día a día. </p> <p> Nos une la pasión por los ingredientes frescos, las tradiciones familiares y el deseo de que todos puedan preparar platos sabrosos sin complicaciones. Queremos ayudarte a redescubrir el placer de cocinar, desde recetas clásicas hasta opciones modernas y saludables.</p>
                </div>
            </div>
        </div>

        <!-- Transformación -->
        <div class="col-md-6">
            <div class="bg-cover h-150" style="background-size: cover; background-position: center; height: 60vh;">
                <div class="overlay d-flex flex-column justify-content-center align-items-center text-white text-center h-100 w-100" style="background-color: rgba(0, 0, 0, 0.4);">
                    <h1 class="fw-bold">QUE HACEMOS</h1>
                    <p> Compartimos recetas fáciles y deliciosas para todos los gustos. Desde clásicos tradicionales hasta opciones saludables, te ofrecemos paso a paso, tips de cocina, menús semanales y mucho más. Nuestra meta es ayudarte a cocinar con confianza y alegría, todos los días.</p>
                </div>
            </div>
        </div>

    </div>
</div>