@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h1 class="text-center">RECETAS</h1>
    <p class="text-center">Aquí encontrarás todas las recetas que desees consultar.</p>
</div>

<partial name="_ListadoProyectos" model="Model" />